<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="false" thread-count="1">
  <test thread-count="1" name="Test">
    <classes>
    <class name="test.InvalidLogin"/>
    <class name="test.Logout"/>
 <class name="test.Homepage"/>
  <class name="test.Schedule"/>
      <class name="test.Profile"/>
        <class name="test.ViewPatientDetails"/>
      <class name="test.Chat"/>
    
           </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
